import React, { FC } from 'react';

import { {{pascalCase name}}UiType } from './{{pascalCase name}}.types';
import { UiTypeProps } from '../../types';

export interface {{pascalCase name}}Props extends UiTypeProps<typeof {{pascalCase name}}UiType> {}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = (props) => {
   const { uiType = {{pascalCase name}}UiType.default } = props;

   return (
     <div className={uiType}>
        <div></div>
     </div>
   );
};
